-# = link_to article_path(article) do
.card
  -# - if article.eyecatches.attached?
  .card_image
    -# = image_tag article.eyecatches
    - if article.photos.attached?
      - article.photos
      - article.photos.each do |photo|
        -# = image_tag photo
    -# = image_tag article.eyecatches
  .card_title
    = article.title
  .card_content
    = article.content