// @import 'header';
// @import 'tabs';
@import 'devise';
@import 'variables';
@import 'card';
// @import 'article';
@import 'buttons';
@import 'form';
// @import 'flash';
// @import 'common';
@import 'profile';
// @import 'actiontext';
// @import 'trix/dist/trix.css';
// @import 'footer';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

.float_btn {
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  color: black;
}