@import './variables'; 

.btn-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 0;
  font-weight: bold;
}

.float_btn {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}

.btn-secondary {
  
}