@import './variables'; 

.btn-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 0;
  font-weight: bold;
}

.article_new{
  &_float_btn {
    margin-left: 20px;
    margin-top: 12px;
    img {
      width: 40px;
      height: 40px;
      float: left;
      margin-bottom: 40px;
      margin-right: 12px;
    }
  }
  &_title{
    font-size: 12px;
    border: none;
  }
}

.btn-secondary {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-secondary:hover {
  background: #67c5ff;
  color: white;
}


.follow_btn {
  text-align: center;
  margin: 0 auto;
  width: 110px;
  height: 30px;
  background: #668ad8;/*ボタン色*/
  border-radius: 3px;
  color: #FFF;
  border-bottom: solid 4px #627295;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.follow_btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}