.card{
  clear: both;
  background-color: white;
  margin: 16px 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  font-weight: 500px;
  font: poppins;

  &_article{
    margin-left: 17px;

    &_avatar_image {
      float: left;
      img{
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
    }
  }

  &_title{

  }

  &_content{

  }
}