@import './variables';

$image_size: 56px;

.profilePage {
  margin-top: 24px;

  &_user {
    margin_bottom: 32px;
    display: flex;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
      }
    }
  }
}